<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <%
				  var image_src = '../resources/img/helmet.jpg';
				  var s = "<script>console.log(" + JSON.stringify(playerInfo) + ");</script>"
				  if(playerInfo) {
				  	image_src = playerInfo[0].img_src;
				  }
				  %>
				  <%-s%>
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form"action="/player_info/post" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <option selected>Select Player</option>
							 <!-- TODO: Populate our select with player options
							 			For each player, set a new option with a value matching the palyer's id, 
							 			but will display the player's name-->
						 				<%if(data) {%>
											<%data.forEach(player => {%>
												<%var op = "<option value=" + player.id + ">" + player.name + "</option>"%>
												<%-op%>
										  	<%});%>
										<%}%>
						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
							 		    You'll need to calculate here the player's average rushing, receiving, and passing yards.-->
							<th>Year</th>
							<td>
								<%if(playerInfo) {%>
									<%-playerInfo[0].year%>
								<%}%>
							</td>
						</tr>
						<tr>
							<th>Major</th>
							<td>
								<%if(playerInfo) {%>
									<%-playerInfo[0].major%>
								<%}%>
							</td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td>
								<%if(gameInfo) {%>
									<%-gameInfo[0].games_in%>
								<%}%>
							</td>
						</tr>
						<tr>
							<td>Passing Yards: 
								<%if(playerInfo) {%>
									<%-playerInfo[0].passing_yards%>
								<%}%>
							</td>
							<td>Avg. Passing Yards: 
								<%if(playerInfo && gameInfo) {%>
									<%-Math.floor((playerInfo[0].passing_yards / gameInfo[0].games_in))%>
								<%}%>
							</td>
						</tr>
						<tr>
							<td>Rushing Yards: 
								<%if(playerInfo) {%>
									<%-playerInfo[0].rushing_yards%>
								<%}%>
							</td>
							<td>Avg. Rushing Yards: 
								<%if(playerInfo && gameInfo) {%>
									<%-Math.floor((playerInfo[0].rushing_yards / gameInfo[0].games_in))%>
								<%}%>
							</td>
						</tr>
						<tr>
							<td>Receiving Yards: 
								<%if(playerInfo) {%>
									<%-playerInfo[0].receiving_yards%>
								<%}%>
							</td>
							<td>Avg. Receiving Yards:
								<%if(playerInfo && gameInfo) {%>
									<%-Math.floor((playerInfo[0].receiving_yards / gameInfo[0].games_in))%>
								<%}%>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
  
<% include ../partials/footer %>